.page {
  padding-top: 40px;

  width: 100%;
  height: 100vh;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  background: #5A5A65;
}

.board{
  padding: 40px;
  margin: 0 auto;

  
  position: relative;
  width: 80%;
  height: 80vh;
  
  background: #FFFFFF;
  border-radius: 12px;

  &__title{
    font-size: 30px;
  }

  &__description{
    margin-bottom: 30px;
    font-size: 15px;
  }

  &__cards-wrap{
    display: flex;
    align-items: center;
  }
}