.card{
  // @include sm {
  //   min-width: 47%;
  // }

  @include xs {
    max-width: 500px;
    min-width: 90%;
  }

  position: relative;

  display: flex;
  flex-direction: column;
  padding: 8px;

  position: relative;
  max-width: 500px;
  min-width: 176px;
  
  background: #F3F4F4;
  border-radius: 12px;

  &:nth-child(2) {
    @include sm {
      margin: 0 3.7%;
    }

    @include xs {
      margin: 0 5%;
    }
    margin: 0 14px;
  }

  &:last-child::before {
    position: absolute;
    right: -.5em;
    height: 0;

    display: block;
    content: '';

    width: .5em;
    height: 100vh;

    background: transparent;
  }

  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__title{
    display: block;
    margin-bottom: 8px;
    padding: 4px 12px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #4D4D4D;

    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

    &--todo{
      background: $rose;
    }

    &--in-progress{
      background: $green;
    }

    &--done{
      background: $lavender;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    width: 100px;
    margin-left: 8px;
    padding: 4px 12px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #4D4D4D;

    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

    transition: .2s linear;

    &:hover {
      cursor: pointer;
    }

    &--todo{
      background: $rose;

      &:hover {
        background: #FAC6CC;
      }
    }
    
    &--in-progress {
      background: $green;

      &:hover {
        background: #A9CABE;
      }
    }

    &--done{
      background: $lavender;

      &:hover {
        background: #D4C5DF;
      }
    }
    
  }

}