.menu {
  position: relative;
  left: 8px;

  width: 20px;
  height: 24px;

  border-radius: 8px;
  outline: none;

  opacity: 0;

  transition: all 0.2s linear;

  &:hover {
    background: #F3F4F4;
    
    cursor: pointer;
  }

  // Menu button
  &__button{
    position: absolute;
    top: 10px;
    right: 8px;

    width: 4px;
    height: 4px;

    border-radius: 50%;
    background: #5A5A65;
  }

  &__button::before,
  &__button::after {
    position: absolute;
    content: '';
    right: 0;

    width: 4px;
    height: 4px;

    border-radius: 50%;
    background: #5A5A65;
  }

  &__button::before {
    top: 6px;
  }

  &__button::after {
    top: -6px;
  }

  // Menu List
  &__list {
    position: absolute;
    top: 24px;
    right: 12px;

    min-width: 75px;

    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.1px;
    color: #5A5A65;
    text-overflow: ellipsis;
    white-space: nowrap;

    visibility: hidden;
    background: #F3F4F4;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    opacity: 0;

    transition: all .2s linear;

    z-index: 30;
  }

  &__item {
    padding: .5em;

    border-bottom: 1px solid #DDDDDD;

    z-index: 30;

    transition: 0.2s linear;

    &:last-child {
      margin-bottom: 0;
  
      border-bottom: none;
    }

    &:hover,
    &:active {
      background: #DDDDDD;
    }
  }

  &__display {
    visibility: visible;
    opacity: 1;
  }
  
}

