.modal-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: all .4s linear;
  
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    min-width: 230px;
    max-width: 500px;
    margin: 0 1em;
    padding: 16px;

    border-radius: 1em;
    background-color: white;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__title {
    padding-top: 28px;
    margin-bottom: 28px;

    font-size: 28px;
    text-align: center;
  }

  &__footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__button {
    margin: none;
    border: 1px solid #DDDDDD;
    box-shadow: none;
  }

  &__button:hover {
    background: #DDDDDD;
  }
}