.modal-add-task {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: all .4s linear;
  
  &__container {
    position: absolute;
    top: 5em;
    left: calc(50% - 150px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;

    border-radius: 1em;
    background-color: white;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 8px;

    min-width: 286px;
      
    background: #F3F4F4;
    border-radius: 12px;
  }

  &__field {
    margin-bottom: 1em;
    padding: .5em 1em;

    color: #5A5A65;

    border: 1px solid #DDDDDD;
    border-radius: 12px;
    outline: none;

    &--title {
      resize: none;
      overflow: hidden;
    }

    &--user-list {
      appearance: none; 
    }

    &--user * {
      width: 286px;
    }

    &--user {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.1px;
      color: #5A5A65;
      white-space: nowrap;
    }

    &--comment{
      resize: none;
    }
  }

  &__field:last-child {
    margin-bottom: 0;
  }

  &__title {
    font-size: 28px;
    padding-top: 28px;
    margin-bottom: 28px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: #444;
  }
}