.slider {
  &__slide-left, 
  &__slide-right {
    @include xs {
      display: block;
    }

    position: absolute;

    display: none;
    content: '';
    width: 7vw;
    min-height: 100%;

    background: #DDDDDD;
    opacity: .1;
    outline: none;
    border: none;
  }

  &__slide-left {
    top: 0;
    left: 0;
    border-radius: 0 50px 50px 0;

    z-index: 20;
  }

  &__slide-right {
    top: 0;
    right: 0;

    border-radius: 50px 0 0 50px;
    // background: url(../img/arrow-angle-of-two-shapes.png) center no-repeat;
  }

  &__dots {
    @include xs {
      display: flex;
    }

    display: none;
    justify-content: center;
    align-items: center;
    height: 1em;
    margin: .5em 0 1em;

    &--todo,
    &--in-progress,
    &--done {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: .5em;

      border-radius: 50%;
      background: $second-font-color;

      transition: all 0.5s;
    }

    &--todo {
      background: #808080;
    }
  }
}