.task{
  position: relative;
  margin-bottom: 8px;
  padding: 1em 1em .5em;

  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  z-index: 0;

  &__header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #DDDDDD;

    z-index: 20;
  }

  &__owner {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #5A5A65;
  }

  &__title {
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #212121;
  }

  &__comment {
    position: relative;

    display: block;
    // height: 37px;

    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1px;
    color: #5A5A65;

    overflow: hidden;

    z-index: 0;
  }

  &__comment-owner{
    padding-right: 3px;
    font-weight: 600;
  }

  &__button--full-comment {
    position: absolute;
    right: 0;
    bottom: 2px;

    display: none;
    padding-right: 5px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1px;
    color: #5A5A65;

    border: none;
    background: #FFFFFF;
    box-shadow: -10px 0 7px 2px #FFFFFF;
    cursor: pointer;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-top: 4px;
    padding-top: 4px;
  }

  &__date {
    flex: auto;
    
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #5A5A65;
  }

  &__button {
    width: 1.5em;
    height: 1.5em;
    margin-left: .5em;

    background: #F3F4F4;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #E6E6E6;
    }
  
    &--delete {
      background: #F3F4F4 url(../img/trash.png) center no-repeat;
      background-size: 60%;
    }

    &--move {
      background: #F3F4F4 url(../img/arrow.png) center no-repeat;
      background-size: 60%;
    }    

    .card__list--done &--move {
      transform: rotate(180deg);
    }

  }
}