.page {
  padding-top: 40px;

  width: 100%;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  background: #5A5A65;
}

.board{
  padding: 40px;
  margin: 0 auto;

  
  position: relative;
  width: 80%;
  
  background: #FFFFFF;
  border-radius: 12px;

  &__title{
    font-size: 30px;
  }

  &__description{
    margin-bottom: 30px;
    font-size: 15px;
  }

  &__cards-wrap{
    display: flex;
  }
}