// Colors
$rose: #FFDCE0;
$green: #CBDFD8;
$lavender: #F0E7F6;

// MEDIA
// Less than "sm"
$screen-xs-max: 576px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 768px;

// Small tablets (portrait view)
$screen-md-max: 992px;

// Tablets and small desktops
$screen-lg-max: 1200px;

