// Colors
$font-color: #5A5A65;
$second-font-color: #DDDDDD;

$rose: #FFDCE0;
$green: #CBDFD8;
$lavender: #F0E7F6;

// MEDIA
// XS
$screen-xs-max: 667px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 768px;

// Small tablets (portrait view)
$screen-md-max: 992px;

// Tablets and small desktops
$screen-lg-max: 1200px;

